#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-image: linear-gradient(to bottom right, red, yellow);
}
.dress{
  width: 25%;
  height: 400px;
}
.card-body{
  background-color: rgb(247, 26, 26);
}
